In [92]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error
from math import sqrt
from numpy import log
from math import pow

In [93]:
#White_samp=pd.read_csv("C:/Users/samba/Desktop/winequality-white-sample.csv")
White_train=pd.read_csv("C:/Users/samba/Desktop/winequality-white-training.csv")
White_test=pd.read_csv("C:/Users/samba/Desktop/winequality-white-testing.csv")

In [94]:
White_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3898 entries, 0 to 3897
Data columns (total 13 columns):
Id                      3898 non-null int64
fixed acidity           3898 non-null float64
volatile acidity        3898 non-null float64
citric acid             3898 non-null float64
residual sugar          3898 non-null float64
chlorides               3898 non-null float64
free sulfur dioxide     3898 non-null float64
total sulfur dioxide    3898 non-null float64
density                 3898 non-null float64
pH                      3898 non-null float64
sulphates               3898 non-null float64
alcohol                 3898 non-null float64
quality                 3898 non-null int64
dtypes: float64(11), int64(2)
memory usage: 396.0 KB

In [95]:
print("shape is: ", White_train.shape)
White_train.describe()

shape is:  (3898, 13)

,Id,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,3898.000000,3898.000000,3898.000000,3898.000000,3898.000000,3898.000000,3898.000000,3898.000000,3898.000000,3898.000000,3898.000000,3898.000000,3898.000000
mean,1948.500000,6.847524,0.277910,0.334477,6.353861,0.045715,35.352617,138.201001,0.994000,3.188923,0.489818,10.524587,5.879682
std,1125.400003,0.839842,0.100415,0.122307,5.097633,0.021816,16.993282,42.788058,0.003011,0.151871,0.114832,1.225757,0.883308
min,0.000000,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,974.250000,6.300000,0.210000,0.270000,1.700000,0.036000,23.125000,108.000000,0.991700,3.090000,0.410000,9.500000,5.000000
50%,1948.500000,6.800000,0.260000,0.320000,5.100000,0.043000,34.000000,134.000000,0.993700,3.180000,0.470000,10.400000,6.000000
75%,2922.750000,7.300000,0.320000,0.390000,9.800000,0.050000,46.000000,167.000000,0.996090,3.280000,0.550000,11.400000,6.000000
max,3897.000000,11.800000,0.965000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [96]:
White_train.head()

,Id,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0,8.7,0.23,0.32,13.4,0.044,35.0,169.0,0.99975,3.12,0.47,8.8,7
1,1,5.0,0.27,0.40,1.2,0.076,42.0,124.0,0.99204,3.32,0.47,10.1,6
2,2,8.0,0.16,0.36,1.5,0.033,14.0,122.0,0.99410,3.20,0.39,10.3,4
3,3,5.8,0.28,0.35,2.3,0.053,36.0,114.0,0.99240,3.28,0.50,10.2,4
4,4,7.1,0.14,0.33,1.0,0.104,20.0,54.0,0.99057,3.19,0.64,11.5,6

In [97]:
White_test.head()

,Id,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0,7.0,0.310,0.31,9.1,0.036,45.0,140.0,0.99216,2.98,0.31,12.0
1,1,7.3,0.155,0.49,1.3,0.039,34.0,136.0,0.99260,3.14,0.77,10.5
2,2,6.0,0.260,0.24,1.3,0.053,66.0,150.0,0.99240,3.21,0.62,10.4
3,3,6.6,0.180,0.26,17.3,0.051,17.0,149.0,0.99840,3.00,0.43,9.4
4,4,6.2,0.290,0.26,13.1,0.046,55.0,204.0,0.99745,3.16,0.41,9.6

In [98]:
#White_train["chemicals"] = White_train["citric acid"] + White_train["chlorides"]
#White_train["acidity"] = White_train["fixed acidity"] + White_train["volatile acidity"]
#White_train["sulfur dioxide"] = White_train["free sulfur dioxide"] + White_train["total sulfur dioxide"]
#k = -(White_train["pH"])
#White_train["Hydrogen conc"] = pow(10,float(k))

In [105]:
White_test=White_test.drop('Id',axis=1)
White_train=White_train.drop('Id',axis=1)
#White_train=White_train.drop('citric acid',axis=1)
#White_train=White_train.drop('residual sugar',axis=1)
#White_train=White_train.drop('chlorides',axis=1)
#White_train=White_train.drop('fixed acidity',axis=1)
#White_train=White_train.drop('volatile acidity',axis=1)
#White_train=White_train.drop('free sulfur dioxide',axis=1)
#White_train=White_train.drop('total sulfur dioxide',axis=1)

In [106]:
White_train.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,8.7,0.23,0.32,13.4,0.044,35.0,169.0,0.99975,3.12,0.47,8.8,7
1,5.0,0.27,0.40,1.2,0.076,42.0,124.0,0.99204,3.32,0.47,10.1,6
2,8.0,0.16,0.36,1.5,0.033,14.0,122.0,0.99410,3.20,0.39,10.3,4

In [107]:
df_Y = White_train.quality
df_Y = pd.DataFrame(df_Y)

In [108]:
df_Y

      quality
0           7
1           6
2           4
3           4
4           6
5           5
6           6
7           5
8           6
9           6
10          6
11          6
12          5
13          7
14          8
15          5
16          7
17          7
18          6
19          5
20          5
21          7
22          6
23          6
24          5
25          6
26          6
27          6
28          6
29          7
...       ...
3868        6
3869        6
3870        4
3871        6
3872        5
3873        5
3874        5
3875        5
3876        7
3877        6
3878        6
3879        6
3880        6
3881        5
3882        8
3883        6
3884        6
3885        7
3886        5
3887        6
3888        6
3889        7
3890        4
3891        8
3892        7
3893        7
3894        7
3895        5
3896        6
3897        7

[3898 rows x 1 columns]

In [114]:
White_train=White_train.drop('quality',axis=1)

In [115]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [116]:
lr = LinearRegression()
lr.fit(White_train, df_Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [117]:
pred = lr.predict(White_test)

In [118]:
pred = pd.DataFrame(pred)
pred

            0
0    6.373482
1    6.076811
2    5.865935
3    5.802553
4    5.645545
5    6.467176
6    5.411603
7    5.496214
8    5.089011
9    5.774775
10   5.794580
11   6.226771
12   5.591461
13   6.203713
14   5.243776
15   5.639019
16   5.502443
17   6.636901
18   5.327933
19   5.995370
20   6.668963
21   6.878214
22   6.478686
23   6.922472
24   5.319093
25   4.975039
26   5.738462
27   5.423357
28   6.176006
29   5.565279
..        ...
970  5.653436
971  6.146155
972  4.913221
973  6.405921
974  5.412100
975  5.590238
976  6.559304
977  5.593983
978  6.024107
979  5.098232
980  6.090485
981  6.200455
982  6.887289
983  5.629398
984  6.325676
985  5.407961
986  5.268065
987  5.436963
988  5.370842
989  5.268152
990  5.251804
991  6.740154
992  5.685290
993  5.494640
994  6.785137
995  5.919634
996  5.711871
997  5.851929
998  5.770125
999  5.194807

[1000 rows x 1 columns]

In [119]:
pred['Id'] = range(0, len(df1))
pred.columns = ['quality','Id']
pred

      quality   Id
0    6.373482    0
1    6.076811    1
2    5.865935    2
3    5.802553    3
4    5.645545    4
5    6.467176    5
6    5.411603    6
7    5.496214    7
8    5.089011    8
9    5.774775    9
10   5.794580   10
11   6.226771   11
12   5.591461   12
13   6.203713   13
14   5.243776   14
15   5.639019   15
16   5.502443   16
17   6.636901   17
18   5.327933   18
19   5.995370   19
20   6.668963   20
21   6.878214   21
22   6.478686   22
23   6.922472   23
24   5.319093   24
25   4.975039   25
26   5.738462   26
27   5.423357   27
28   6.176006   28
29   5.565279   29
..        ...  ...
970  5.653436  970
971  6.146155  971
972  4.913221  972
973  6.405921  973
974  5.412100  974
975  5.590238  975
976  6.559304  976
977  5.593983  977
978  6.024107  978
979  5.098232  979
980  6.090485  980
981  6.200455  981
982  6.887289  982
983  5.629398  983
984  6.325676  984
985  5.407961  985
986  5.268065  986
987  5.436963  987
988  5.370842  988
989  5.268152  989
990  5.251804  990
991  6.740154  991
992  5.685290  992
993  5.494640  993
994  6.785137  994
995  5.919634  995
996  5.711871  996
997  5.851929  997
998  5.770125  998
999  5.194807  999

[1000 rows x 2 columns]

In [120]:
cols = list(pred)
cols[1], cols[0] = cols[0], cols[1]
cols
pred = pred.ix[:,cols]

C:\Users\samba\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

In [121]:
pred

      Id   quality
0      0  6.373482
1      1  6.076811
2      2  5.865935
3      3  5.802553
4      4  5.645545
5      5  6.467176
6      6  5.411603
7      7  5.496214
8      8  5.089011
9      9  5.774775
10    10  5.794580
11    11  6.226771
12    12  5.591461
13    13  6.203713
14    14  5.243776
15    15  5.639019
16    16  5.502443
17    17  6.636901
18    18  5.327933
19    19  5.995370
20    20  6.668963
21    21  6.878214
22    22  6.478686
23    23  6.922472
24    24  5.319093
25    25  4.975039
26    26  5.738462
27    27  5.423357
28    28  6.176006
29    29  5.565279
..   ...       ...
970  970  5.653436
971  971  6.146155
972  972  4.913221
973  973  6.405921
974  974  5.412100
975  975  5.590238
976  976  6.559304
977  977  5.593983
978  978  6.024107
979  979  5.098232
980  980  6.090485
981  981  6.200455
982  982  6.887289
983  983  5.629398
984  984  6.325676
985  985  5.407961
986  986  5.268065
987  987  5.436963
988  988  5.370842
989  989  5.268152
990  990  5.251804
991  991  6.740154
992  992  5.685290
993  993  5.494640
994  994  6.785137
995  995  5.919634
996  996  5.711871
997  997  5.851929
998  998  5.770125
999  999  5.194807

[1000 rows x 2 columns]

In [122]:
pred.reset_index(drop=True)

      Id   quality
0      0  6.373482
1      1  6.076811
2      2  5.865935
3      3  5.802553
4      4  5.645545
5      5  6.467176
6      6  5.411603
7      7  5.496214
8      8  5.089011
9      9  5.774775
10    10  5.794580
11    11  6.226771
12    12  5.591461
13    13  6.203713
14    14  5.243776
15    15  5.639019
16    16  5.502443
17    17  6.636901
18    18  5.327933
19    19  5.995370
20    20  6.668963
21    21  6.878214
22    22  6.478686
23    23  6.922472
24    24  5.319093
25    25  4.975039
26    26  5.738462
27    27  5.423357
28    28  6.176006
29    29  5.565279
..   ...       ...
970  970  5.653436
971  971  6.146155
972  972  4.913221
973  973  6.405921
974  974  5.412100
975  975  5.590238
976  976  6.559304
977  977  5.593983
978  978  6.024107
979  979  5.098232
980  980  6.090485
981  981  6.200455
982  982  6.887289
983  983  5.629398
984  984  6.325676
985  985  5.407961
986  986  5.268065
987  987  5.436963
988  988  5.370842
989  989  5.268152
990  990  5.251804
991  991  6.740154
992  992  5.685290
993  993  5.494640
994  994  6.785137
995  995  5.919634
996  996  5.711871
997  997  5.851929
998  998  5.770125
999  999  5.194807

[1000 rows x 2 columns]

In [123]:
pred

      Id   quality
0      0  6.373482
1      1  6.076811
2      2  5.865935
3      3  5.802553
4      4  5.645545
5      5  6.467176
6      6  5.411603
7      7  5.496214
8      8  5.089011
9      9  5.774775
10    10  5.794580
11    11  6.226771
12    12  5.591461
13    13  6.203713
14    14  5.243776
15    15  5.639019
16    16  5.502443
17    17  6.636901
18    18  5.327933
19    19  5.995370
20    20  6.668963
21    21  6.878214
22    22  6.478686
23    23  6.922472
24    24  5.319093
25    25  4.975039
26    26  5.738462
27    27  5.423357
28    28  6.176006
29    29  5.565279
..   ...       ...
970  970  5.653436
971  971  6.146155
972  972  4.913221
973  973  6.405921
974  974  5.412100
975  975  5.590238
976  976  6.559304
977  977  5.593983
978  978  6.024107
979  979  5.098232
980  980  6.090485
981  981  6.200455
982  982  6.887289
983  983  5.629398
984  984  6.325676
985  985  5.407961
986  986  5.268065
987  987  5.436963
988  988  5.370842
989  989  5.268152
990  990  5.251804
991  991  6.740154
992  992  5.685290
993  993  5.494640
994  994  6.785137
995  995  5.919634
996  996  5.711871
997  997  5.851929
998  998  5.770125
999  999  5.194807

[1000 rows x 2 columns]

In [124]:
pred.to_csv("C:/Users/samba/Desktop/winequality-white-solution.csv")