In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import Ridge, Lasso
from sklearn.metrics import mean_squared_error
import os

In [2]:
def CheckCoefficients(allCoefficients):
    nonZeros = []
    for i in range(len(allCoefficients)):
        nonZeros.append(NumberOfNonZeros(allCoefficients[i]))
    return nonZeros

In [3]:
def NumberOfNonZeros(array):
    count = 0
    for i in range(len(array)):
        if array[i] != 0:
            count += 1
    return count

In [4]:
def RespectiveCountries(coefficients):
    global otherCountriesLabels
    countries = []
    #print(otherCountriesLabels)
    for i in range(len(coefficients)):
        if coefficients[i] != 0:
            #print(i)
            #print(type(countries))
            #print(otherCountriesLabels.iloc[i])
            countries.append(otherCountriesLabels.iloc[i])
    return countries

In [5]:
def DoCalculation(otherCountries, coefficients):
    result = otherCountries[0] * 0.0
    for i in range(len(otherCountries)):
        #print(i)
        #print(type(otherCountries[i]))
        #print(type(coefficients[i]))
        result += otherCountries[i] * coefficients[i]
    return result

In [6]:
def Distance(vector1, vector2):
    sum = 0
    for i in range(len(vector1)):
        sum += (vector1[i] - vector2[i])*(vector1[i] - vector2[i])
    return sum

In [7]:
#os.chdir("F:\\Code\\GitHub\\Ecen689Challenge3\\Challenge3")
os.chdir("C:\\Users\Samyuktha\Documents\GitHub\Challenge3\Ecen689Challenge3\Challenge3")

In [8]:
populationTrainingDataframe = pd.read_csv('population_training.csv', encoding='cp1252').dropna(axis=0)
populationTestingDataframe = pd.read_csv('population_testing.csv', encoding='cp1252').dropna(axis=0)
populationTestingDataframe.head()

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,90853,92898,94992,97017,98737,100031,100832,101220,101353,101453,101669,102053,102577,103187,103795.0,104341,104822
1,Afghanistan,20093756,20966463,21979923,23064851,24118979,25070798,25893450,26616792,27294031,28004331,28803167,29708599,30696958,31731688,32758020.0,33736494,34656032
2,Angola,16440924,16983266,17572649,18203369,18865716,19552542,20262399,20997687,21759420,22549547,23369131,24218565,25096150,25998340,26920466.0,27859305,28813463
3,Albania,3089027,3060173,3051010,3039616,3026939,3011487,2992547,2970017,2947314,2927519,2913021,2905195,2900401,2895092,2889104.0,2880703,2876101
4,Andorra,65390,67341,70049,73182,76244,78867,80991,82683,83861,84462,84449,83751,82431,80788,79223.0,78014,77281

In [9]:
trainingCountries = populationTrainingDataframe.iloc[:,0]
populationTrainingDataframe.drop(['Country Name'], axis=1, inplace=True)
#populationTrainingDataframe.head()
#trainingCountries

In [13]:
populationTrainingMatrix = populationTrainingDataframe.values
#print(populationTrainingMatrix)
trainingCounty = populationTrainingMatrix[0, :]
#print(trainingCounty)
otherCountries = populationTrainingMatrix[1:,:]
#print(otherCountries)
otherCountriesLabels = trainingCountries.iloc[1:]
#print(otherCountriesLabels)

In [14]:
def DoLasso(alphas):
    lasso = Lasso(alpha = alphas, normalize=True)
    coefs = []
    for a in alphas:
        lasso.set_params(alpha = a)
        lasso.fit(otherCountries.transpose(), trainingCounty)
        coefs.append(lasso.coef_)
    return coefs