In [1]:
import pandas as pd
import numpy as np

In [24]:
data = pd.read_csv("population_training.csv")
data.head(2)

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,Aruba,54211,55438,56225,56695,57032,57360,57715,58055,58386,...,62149,64622,68235.0,72504.0,76700.0,80324,83200,85451,87277,89005
1,Afghanistan,8996351,9166764,9345868,9533954,9731361,9938414,10152331,10372630,10604346,...,12249114,12993657,13981231.0,15095099.0,16172719.0,17099541,17822884,18381605,18863999,19403676

In [32]:
data.columns = [c.replace(' ', '_') for c in data.columns]
data.shape

(259, 41)

In [33]:
# List of non-countries (aggregations) to remove so that we're only
# considering countries
groupings = ['Arab World', 'Central Europe and the Baltics',
                'Caribbean small states',
                'East Asia & Pacific (excluding high income)',
                'Early-demographic dividend', 'East Asia & Pacific',
                'Europe & Central Asia (excluding high income)',
                'Europe & Central Asia', 'Euro area', 'European Union',
                'Fragile and conflict affected situations',
                'High income', 'Heavily indebted poor countries (HIPC)',
                'IBRD only', 'IDA & IBRD total', 'IDA total', 'IDA blend',
                'IDA only',
                'Latin America & Caribbean (excluding high income)',
                'Latin America & Caribbean',
                'Least developed countries: UN classification',
                'Low income', 'Lower middle income',
                'Low & middle income', 'Late-demographic dividend',
                'Middle East & North Africa', 'Middle income',
                'Middle East & North Africa (excluding high income)',
                'North America', 'OECD members', 'Other small states',
                'Pre-demographic dividend', 'Pacific island small states',
                'Post-demographic dividend', 'South Asia',
                'Sub-Saharan Africa (excluding high income)',
                'Sub-Saharan Africa', 'Small states',
                'East Asia & Pacific (IDA & IBRD countries)',
                'Europe & Central Asia (IDA & IBRD countries)',
                'Latin America & the Caribbean (IDA & IBRD countries)',
                'Middle East & North Africa (IDA & IBRD countries)',
                'South Asia (IDA & IBRD)',
                'Sub-Saharan Africa (IDA & IBRD countries)',
                'Upper middle income', 'World']

In [34]:
len(groupings)

46

In [36]:
#Remove observations of nonCountries from 'data'
data2 = data[~data['Country_Name'].isin(groupings)]
data2.shape

(213, 41)